<a href="https://colab.research.google.com/github/eder1985/igti-bootcamp-eng-dados-cloud/blob/main/modulo_2/igti_edc_mod2_desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><center>IGTI/XP Educação/Bootcamp Engenharia de Dados Cloud - Módulo 2 - Trabalho Prático
</center></h1>

### Installing Spark

Install Dependencies:


1.   Java 8
2.   Apache Spark with hadoop and
3.   Findspark (used to locate the spark in the system)

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

Set Environment Variables:

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
!ls

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

### Trabalho prático

In [ ]:
!mkdir data

mkdir: cannot create directory ‘data’: File exists

In [ ]:
!wget https://homepages.dcc.ufmg.br/~pcalais/XPE/engenharia-dados/big-data-spark/trabalho-pratico/title_basics.tsv --no-check-certificate
!wget https://homepages.dcc.ufmg.br/~pcalais/XPE/engenharia-dados/big-data-spark/trabalho-pratico/title_ratings.tsv --no-check-certificate

--2023-08-07 18:43:33--  https://homepages.dcc.ufmg.br/~pcalais/XPE/engenharia-dados/big-data-spark/trabalho-pratico/title_basics.tsv
Resolving homepages.dcc.ufmg.br (homepages.dcc.ufmg.br)... 150.164.0.136
Connecting to homepages.dcc.ufmg.br (homepages.dcc.ufmg.br)|150.164.0.136|:443... connected.
WARNING: cannot verify homepages.dcc.ufmg.br's certificate, issued by ‘CN=GlobalSign RSA OV SSL CA 2018,O=GlobalSign nv-sa,C=BE’:
  Unable to locally verify the issuer's authority.
HTTP request sent, awaiting response... 200 OK
Length: 701504751 (669M) [text/tab-separated-values]
Saving to: ‘title_basics.tsv’

title_basics.tsv    100%[===================>] 669.01M  17.3MB/s    in 36s

2023-08-07 18:44:10 (18.3 MB/s) - ‘title_basics.tsv’ saved [701504751/701504751]

--2023-08-07 18:44:10--  https://homepages.dcc.ufmg.br/~pcalais/XPE/engenharia-dados/big-data-spark/trabalho-pratico/title_ratings.tsv
Resolving homepages.dcc.ufmg.br (homepages.dcc.ufmg.br)... 150.164.0.136
Connecting to homepages.dcc.ufmg.br (homepages.dcc.ufmg.br)|150.164.0.136|:443... connected.
WARNING: cannot verify homepages.dcc.ufmg.br's certificate, issued by ‘CN=GlobalSign RSA OV SSL CA 2018,O=GlobalSign nv-sa,C=BE’:
  Unable to locally verify the issuer's authority.
HTTP request sent, awaiting response... 200 OK
Length: 20330182 (19M) [text/tab-separated-values]
Saving to: ‘title_ratings.tsv’

title_ratings.tsv   100%[===================>]  19.39M  10.8MB/s    in 1.8s

2023-08-07 18:44:14 (10.8 MB/s) - ‘title_ratings.tsv’ saved [20330182/20330182]

In [ ]:
!mv title_basics.tsv title_ratings.tsv data/

In [ ]:
df_titles = spark.read.csv('data/title_basics.tsv', header=True, inferSchema=True, sep='\t')

In [ ]:
df_titles.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    short|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            40|       Romance,Short|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|               Short|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [ ]:
df_titles.count()

8203690

In [ ]:
df_titles.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- titleType: string (nullable = true)
 |-- primaryTitle: string (nullable = true)
 |-- originalTitle: string (nullable = true)
 |-- isAdult: string (nullable = true)
 |-- startYear: string (nullable = true)
 |-- endYear: string (nullable = true)
 |-- runtimeMinutes: string (nullable = true)
 |-- genres: string (nullable = true)

In [ ]:
df_ratings = spark.read.csv('data/title_ratings.tsv', header=True, inferSchema=True, sep='\t')

In [ ]:
df_ratings.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1809|
|tt0000002|          6.0|     233|
|tt0000003|          6.5|    1560|
|tt0000004|          6.1|     152|
|tt0000005|          6.2|    2383|
|tt0000006|          5.1|     157|
|tt0000007|          5.4|     746|
|tt0000008|          5.5|    1965|
|tt0000009|          5.8|     189|
|tt0000010|          6.9|    6530|
|tt0000011|          5.2|     323|
|tt0000012|          7.4|   11188|
|tt0000013|          5.8|    1726|
|tt0000014|          7.1|    5023|
|tt0000015|          6.2|     947|
|tt0000016|          5.9|    1325|
|tt0000017|          4.6|     292|
|tt0000018|          5.3|     537|
|tt0000019|          5.3|      28|
|tt0000020|          5.0|     315|
+---------+-------------+--------+
only showing top 20 rows

In [ ]:
df_ratings.count()

1182639

In [ ]:
df_ratings.printSchema()

root
 |-- tconst: string (nullable = true)
 |-- averageRating: double (nullable = true)
 |-- numVotes: integer (nullable = true)

In [ ]:
df_joined_data = df_titles.join(df_ratings, df_titles.tconst == df_ratings.tconst, "left")

In [ ]:
df_joined_data.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|   tconst|averageRating|numVotes|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
|tt0000658|    short|The Puppet's Nigh...|Le cauchemar de F...|      0|     1908|     \N|             2|     Animation,Short|tt0000658|          6.5|     212|
|tt0000839|    short|  The Curse of Money|  The Curse of Money|      0|     1909|     \N|            \N|         Drama,Short|     null|         null|    null|
|tt0001170|    short|A Cowboy's Vindic...|A Cowboy's Vindic...|      0|     1910|     \N|            \N|       Short,Western|     null|         null|    null|
|tt0001581|    short|    A Devoted Friend|    A Devoted Friend|      0|     1911|     \N|            19|               Short|     null|         null|    null|
|tt0001664|    short|        Her Two Sons|        Her Two Sons|      0|     1911|     \N|            \N| Drama,Romance,Short|     null|         null|    null|
|tt0001732|    short|The Lighthouse Ke...|The Lighthouse Ke...|      0|     1911|     \N|            \N|         Drama,Short|tt0001732|          7.1|      15|
|tt0001887|    short|     The Skating Bug|     The Skating Bug|      0|     1911|     \N|            \N|        Comedy,Short|     null|         null|    null|
|tt0002253|    short|          Home Folks|          Home Folks|      0|     1912|     \N|            17|         Drama,Short|tt0002253|          4.0|      13|
|tt0002347|    short|Le martyre de Sai...|Le martyre de Sai...|      0|     1912|     \N|            12|         Drama,Short|     null|         null|    null|
|tt0002473|    short|    The Sands of Dee|    The Sands of Dee|      0|     1912|     \N|            17|       Romance,Short|tt0002473|          6.5|      77|
|tt0002588|    movie|Zigomar contre Ni...|Zigomar contre Ni...|      0|     1912|     \N|            48|      Crime,Thriller|tt0002588|          6.0|      32|
|tt0002591|    movie|             Zu spät|             Zu spät|      0|     1913|     \N|            \N|                  \N|     null|         null|    null|
|tt0002667|    short|The Battle for Fr...|The Battle for Fr...|      0|     1913|     \N|            \N|     Adventure,Short|     null|         null|    null|
|tt0003043|    short|  Knights and Ladies|  Knights and Ladies|      0|     1913|     \N|            \N|Comedy,Romance,Short|     null|         null|    null|
|tt0003180|    short|       Mutt and Jeff|       Mutt and Jeff|      0|     1913|     \N|            \N|     Animation,Short|     null|         null|    null|
|tt0003644|    short|     The Aviator Spy|His Country's Honour|      0|     1914|     \N|            \N|      Short,Thriller|     null|         null|    null|
|tt0003689|    movie|          Born Again|          Born Again|      0|     1914|     \N|            \N|               Drama|     null|         null|    null|
|tt0003776|    short|The City of Darkness|The City of Darkness|      0|     1914|     \N|            \N|         Drama,Short|     null|         null|    null|
|tt0003931|    short|The Fatal Black Bean|The Fatal Black Bean|      0|     1915|     \N|            \N|         Drama,Short|     null|         null|    null|
|tt0004091|    short|His Favorite Pastime|His Favorite Pastime|      0|     1914|     \N|            16|        Comedy,Short|tt0004091|          5.1|    1067|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+---------+-------------+--------+
only showing top 20 rows

In [ ]:
df_joined_data.count()

8203690

#### Questões teóricas

Questões teóricas

- Qual é a característica do Apache Spark em relação ao tratamento das computações intermediárias que faz com que ele seja mais rápido do que o Hadoop MapReduce?
  - R: Armazenamento dos resultados intermediários em memória.

- Qual a principal diferença entre as transformações narrow e wide?
  - R: As transformações narrow não realizam shuffle (movimentação) de dados, enquanto as transformações wide realizam.

- Qual dos blocos de código abaixo realiza o empilhamento de dois DataFrames df1 e df2?
  - R: df1.union(df2)

#### Questões práticas

In [ ]:
from pyspark.sql.functions import col, countDistinct

In [ ]:
df_joined_data.select("titleType").distinct().show()

+------------+
|   titleType|
+------------+
|    tvSeries|
|tvMiniSeries|
|     tvMovie|
|     tvPilot|
|   tvEpisode|
|       movie|
|   tvSpecial|
|       video|
|   videoGame|
|     tvShort|
|       short|
| radioSeries|
|radioEpisode|
+------------+

- Quantos filmes (incluindo os da televisão) foram lançados no ano de 2015?
  - R: 19987

In [ ]:
df_titles.where(
    ((col("titleType") == "tvMovie") | (col("titleType") == "movie")) &
    (col("startYear") == 2015)
    ).count()

19987

- Qual o gênero de títulos mais frequente?
  - R: *Drama*

In [ ]:
from operator import add
from pyspark.sql import functions as f


filtered_valid_genres = df_joined_data \
                    .where(col("genres") != str("\\N"))

In [ ]:
exploded_genres = filtered_valid_genres.select(
        f.split("genres", ",").alias("genres"), \
        f.posexplode(f.split("genres", ",")).alias("pos", "genre"))

In [ ]:
exploded_genres.show()

+--------------------+---+---------+
|              genres|pos|    genre|
+--------------------+---+---------+
|  [Animation, Short]|  0|Animation|
|  [Animation, Short]|  1|    Short|
|      [Drama, Short]|  0|    Drama|
|      [Drama, Short]|  1|    Short|
|    [Short, Western]|  0|    Short|
|    [Short, Western]|  1|  Western|
|             [Short]|  0|    Short|
|[Drama, Romance, ...|  0|    Drama|
|[Drama, Romance, ...|  1|  Romance|
|[Drama, Romance, ...|  2|    Short|
|      [Drama, Short]|  0|    Drama|
|      [Drama, Short]|  1|    Short|
|     [Comedy, Short]|  0|   Comedy|
|     [Comedy, Short]|  1|    Short|
|      [Drama, Short]|  0|    Drama|
|      [Drama, Short]|  1|    Short|
|      [Drama, Short]|  0|    Drama|
|      [Drama, Short]|  1|    Short|
|    [Romance, Short]|  0|  Romance|
|    [Romance, Short]|  1|    Short|
+--------------------+---+---------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import desc

exploded_genres.groupBy("genre").count().sort(desc("count")).show(1)

+-----+-------+
|genre|  count|
+-----+-------+
|Drama|2247995|
+-----+-------+
only showing top 1 row

- Qual o gênero com a melhor nota média de títulos?
  - R: *History*

In [ ]:
exploded_genres_with_averageRating = filtered_valid_genres.select( \
        "averageRating", \
        f.split("genres", ",").alias("genres"), \
        f.posexplode(f.split("genres", ",")).alias("pos", "genre"))

exploded_genres_with_averageRating \
        .groupBy("genre") \
        .avg("averageRating") \
        .sort(desc("avg(averageRating)")).show(1)

+-------+------------------+
|  genre|avg(averageRating)|
+-------+------------------+
|History| 7.353780102645086|
+-------+------------------+
only showing top 1 row

- Qual o vídeo game do gênero aventura mais bem avaliado em 2020?
  - R: *Half-Life: Alyx*

In [ ]:
df_joined_data \
    .where((col("titleType") == "videoGame")  & (col("startYear") == 2020)) \
    .sort(desc("averageRating")).show(1)

+----------+---------+---------------+---------------+-------+---------+-------+--------------+--------------------+----------+-------------+--------+
|    tconst|titleType|   primaryTitle|  originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|    tconst|averageRating|numVotes|
+----------+---------+---------------+---------------+-------+---------+-------+--------------+--------------------+----------+-------------+--------+
|tt11321196|videoGame|Half-Life: Alyx|Half-Life: Alyx|      0|     2020|     \N|            \N|Action,Adventure,...|tt11321196|          9.5|     506|
+----------+---------+---------------+---------------+-------+---------+-------+--------------+--------------------+----------+-------------+--------+
only showing top 1 row

- Quantos títulos de filmes diferentes existem?
  - R: 3931670

In [ ]:
df_titles.select('primaryTitle').distinct().count()

3931670

- Qual a duração média dos filmes com conteúdo adulto?
  - R: 92.79

In [ ]:
df_titles.filter( \
    ((col("titleType") == "tvMovie") | (col("titleType") == "movie")) & \
    (col("genres").contains("Adult")) \
    ).select("runtimeMinutes") \
    .describe()

+-------+-----------------+
|summary|   runtimeMinutes|
+-------+-----------------+
|  count|             8408|
|   mean|78.36592888243831|
| stddev|21.07927559127097|
|    min|              100|
|    max|               \N|
+-------+-----------------+

- Quantos filmes têm o título atual (“primary”) diferente do título original?
  - R: 125056

In [ ]:
df_titles.filter \
    ((col("primaryTitle") != col("originalTitle"))) \
    .count()

125056

- Qual o filme que tem o nome mais longo?
  - R: tt12985206.

In [ ]:
from pyspark.sql.functions import col, length

df_titles.orderBy(length(col("primaryTitle")).desc()).show(1)

+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+------+
|    tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|genres|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+------+
|tt12985206|    video|Otoko wa chi _ ko...|Otoko wa chi _ ko...|      1|     2020|     \N|            99| Adult|
+----------+---------+--------------------+--------------------+-------+---------+-------+--------------+------+
only showing top 1 row

- Qual filme tem a maior quantidade de votos?
  - R: tt0111161

In [ ]:
df_ratings.orderBy(col("numVotes").desc()).show(1)

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0111161|          9.3| 2449517|
+---------+-------------+--------+
only showing top 1 row

- Qual é a menor nota média de um filme?
  - R: 1.0

In [ ]:
df_ratings.select("averageRating").describe()

+-------+------------------+
|summary|     averageRating|
+-------+------------------+
|  count|           1182639|
|   mean| 6.917028357766265|
| stddev|1.3974964575775946|
|    min|               1.0|
|    max|              10.0|
+-------+------------------+